<html lang="en">


<head>
    <meta charset="UTF-8">
    
  
</head>

<body style="background-color: #0c002e">
<div class="row">
    <div class="col-7" style="background-color: #adb5bd">
        <form action="/Blog/CrearNotaA" method="post">
            <label>Titulo</label>
            
            <input name="Titulo" />
            <label>Contenido</label>
            <input name="Contenido" />
            <input type="hidden" >
            <button>Guardar</button>
        </form>
       
    </div>
</div>
</body>
</html>

