

<h1>Lista de Canciones</h1>
<form action="/" method="get">
    <input type="text" id="busqueda" name="busqueda" placeholder="Lista Reproduccion"/>
</form>


<div id="contenedor">
    
    
</div>

<script>
function init(){
        $.ajax({   
        url:'/Blog/_index?busqueda='+ $('#busqueda').val()
        }).done(function(tabla) {
          $('#contenedor').html(tabla)
        })
    
}$('form').on('submit',function(e) {
  e.preventDefault();
  init();
});
init();



</script>